@model JPGame.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Sửa tài khoản</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Tài khoản quản trị</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Sửa tài khoản</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin tài khoản </h3>

                        </div>
                        <!--begin::Form-->
                        <form id="UserForm" class="form">
                            <div class="card-body">
                                <input hidden name="UserID" value="@Model.UserID" />
                                <div class="form-group">
                                    <label>Tài khoản:</label>

                                    <input name="UserName" type="text" class="form-control form-control-solid" required placeholder="Nhập tên tài khoản" value="@Model.UserName.Trim()" />

                                </div>
                                <div class="form-group">
                                    <label>Tên :</label>
                                    <input name="Name" type="text" class="form-control form-control-solid" required value="@Model.Name.Trim()" placeholder="Nhập tên" />

                                </div>
                                <div class="form-group">
                                    <label>Quyền :</label>

                                    <select class="form-control select2" style="width:100%" id="SelectRoles" name="Role">
                                        @foreach (var role in ViewBag.Roles)
                                        {
                                            if (role.ID == Model.Role)
                                            {
                                                <option selected value="@role.ID">@role.Description</option>
                                            }
                                            else
                                            {
                                                <option value="@role.ID">@role.Description</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Readers :</label>

                                    <select class="form-control select2" style="width:100%" id="SelectReaders" name="ReaderID">
                                       
                                        @foreach (var reader in ViewBag.Readers)
                                        {
                                            if (reader.ReaderID == Model.ReaderID)
                                            {
                                                <option selectedvalue="@reader.ReaderID">@reader.ReaderID</option>
                                            }
                                            else
                                            {
                                                <option selectedvalue="@reader.ReaderID">@reader.ReaderID</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Nhập mật khẩu mới:</label>
                                        <input type="password" class="form-control" name="newPassword" placeholder="Nhập mật khẩu" />
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Xác nhận mật khẩu:</label>
                                        <input type='password' class="form-control" name="newRePassword" placeholder="Nhập xác nhận mật khẩu" />

                                    </div>
                                </div>
                                <span class="form-text text-danger">Chỉ nhập khi có sự thay đổi</span>


                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary mr-2 " href="@Url.Action("Index","Administrator")">Trở về danh sách</a>
                                <button type="button" class="btn btn-success mr-2 btnUpdate">Sửa</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->

                </div>

            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<script src="~/Areas/assets/admin/users/UpdateUser.js"></script>